NODE_ENV=production
PORT=3000
ADMINER_URL=http://your-server-ip:8080
DATA_ROOT=/app/data
SCRIPTS_ROOT=/app/scripts
LOGS_ROOT=/app/logs
STORAGE_ROOT=/app/storage
DEFAULT_DB_CLIENT=mysql
TZ=Asia/Shanghai
